/* Swiper Pagination css */
select {
    appearance: none;
}

.swiper .swiper-pagination {
    position: static;
    justify-content: center;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    width: 20px;
    border-radius: 2rem;
    margin: 1px;
}

.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #F8D57A;
}

/* Calendar */
.react-calendar {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}